@font-face {
	font-family: "Graduate";
	src: local("Graduate"), url("../fonts/Graduate-Regular.ttf");
}

html,
body {
	font-family: "Graduate";
	font-size: 150%;
	background-color: #1d0933;
	color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	cursor: url(../img/cursor.png), auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #d3aa0c;
	cursor: url(../img/cursor-hover.png), auto;
}