@font-face {
	font-family: "Graduate";
	src: local("Graduate"), url("../fonts/Graduate-Regular.ttf");
}

@font-face {
	font-family: "Black Ops One";
	src: local("Black Ops One"), url("../fonts/BlackOpsOne-Regular.ttf");
}

html,
body {
	font-family: "Graduate";
	background-color: #d3aa0c;
	text-decoration: none;
	width: 100vw;
	height: 100vh;
	margin: 0;
	border: 0;
	padding: 0;
	cursor: url(../img/cursor.png), auto;
	/* overflow-x: hidden; doesn't work with window.pageYOffset*/
	font-size: 2vw;
	box-sizing: border-box;
	/* custom scroll bar for firefox*/
	scrollbar-width: thin;
	scrollbar-color: #d3aa0c white;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

/*custom scroll bar*/
body::-webkit-scrollbar {
	width: 1vw;
}

body::-webkit-scrollbar-thumb {
	background: white;
}

/* style for selected text*/
::selection {
	background: white;
	color: #1d0933;
}

a {
	text-decoration: none;
	cursor: url(../img/cursor-hover.png), auto;
}

header {
	background-image: url("../img/main-1920px.png");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

menu {
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	writing-mode: vertical-rl;
	font-size: 1.5vw;
	list-style: none;
	padding-right: 2%;
	opacity: 0;
	animation: show 10s 1;
	animation-fill-mode: forwards;
	-webkit-animation: show 10s 1;
	-webkit-animation-fill-mode: forwards;
}

menu a {
	color: white;
	padding: 5%;
}

li :hover {
	background: #1d0933;
}

h1 {
	margin: 0;
	padding-left: 10%;
	color: white;
	opacity: 0;
	animation: show 10s 1;
	animation-fill-mode: forwards;
	-webkit-animation: show 10s 1;
	-webkit-animation-fill-mode: forwards;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

main {
	width: 100vw;
	height: auto;
	margin: 0;
	border: 0;
	padding: 2% 0 2% 0;
	color: white;
	display: flex;
	flex-direction: column;
}

.about {
	width: 100vw;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about p {
	width: 80%;
	font-size: 1.5vw;
}

section {
	margin: 3%;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	flex-wrap: wrap;
}

.blockrow {
	display: flex;
	opacity: 0;
	flex-wrap: nowrap;
}

.main-block {
	width: 40vw;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1d0933;
	margin: 3%;
	box-shadow: 0px 0px 20px 10px #1d0933;
	-webkit-box-shadow: 0px 0px 20px 10px #1d0933;
	-moz-box-shadow: 0px 0px 20px 10px #1d0933;
}

.main-block:hover {
	box-shadow: 0px 0px 10px 10px #1d0933;
}

footer {
	height: 50vh;
	background-color: #1d0933;
	color: #d3aa0c;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	font-size: 1.3vw;
}

footer a {
	color: #d3aa0c;
}

footer img {
	max-width: 30px;
}

@media screen and (max-width: 980px) {

	header {
		background-image: url("../img/main-980px.png");
	}

	main {
		font-size: 3vw;
	}

	.main-block {
		height: 35vw;
		box-shadow: 0px 0px 10px 5px #1d0933;
		-webkit-box-shadow: 0px 0px 10px 5px #1d0933;
		-moz-box-shadow: 0px 0px 10px 5px #1d0933;
	}

	.main-block:hover {
		box-shadow: 0px 0px 5px 5px #1d0933;
	}

	footer {
		height: 100vh;
		font-size: 3vw;
	}
}

@media screen and (max-width: 736px) {

	header {
		background-image: url("../img/main-736px.png");
		background-size: cover;
	}

	ul {
		font-size: 4vw;
	}

	.main-block {
		width: 40vw;
		height: 20vh;
	}

	footer {
		height: 100vh;
	}
}

@media screen and (max-width: 480px) {

	h1 {
		margin: 0;
		padding-left: 10%;
	}

	header {
		background-image: url("../img/main-480px.png");
		font-size: 5vw;
	}

	main {
		font-size: 4vw;
	}

	footer {
		height: 100vh;
		font-size: 4vw;
	}
}

@media screen and (max-width: 320px) {

	header {
		background-image: url("../img/main-320px.png");
	}

	.main-block {
		margin: 5%;
	}
}

@media print {
	@page {
		margin: 1cm;
	}

	html,
	body {
		background: #d3aa0c;
	}

	header {
		background-image: none;
		background: #d3aa0c;
	}

	ul {
		font-size: 3vw;
		opacity: 1;
	}

	.blockrow {
		break-inside: avoid;
	}

	.main-block {
		height: 40vw;
		break-inside: avoid;
	}

	footer {
		height: 50vh;
		break-inside: avoid;
	}

}