@font-face {
  font-family: 'Graduate';
  src: local('Graduate'), url('../fonts/Graduate-Regular.ttf');
}

html, body {
  font-family: 'Graduate';
  font-size: 100%;
  color: black;
  height: 100%; /* высота области */
  width: 100%; /* ширина области */
  text-align: center; /* выравнивание текста по горизонтали */
  margin: 0;
	padding: 0;
  border: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none; /* отменяет все эффекты, в том числе и подчеркивания ссылок */
  font-size: 90%;
}

h1 {
  font-size: 200%;
  color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2%;
}

p {
  font-size: 90%;
  color: white;
}

hr { /* линия */
  background-color: black;
  height: 1.5px;
  width: 15%;
  border: 0; /* граница вокруг элемента */
}

::selection { /* применяет стиль к выделенному пользователем тексту */
  background: #ada074;
  color: white;
}

/* start page */

.start-page {
  height: 100%;
  background-color: gray;
  background-size: cover;
}

.start-page h1 {
  font-size: 200%;
  color: white;
  text-align: center;
}

.start-page .text {
  text-align: center; /* горизонтальное выравнивание текста в пределах элемента */
  padding-top: 15%;
}

.start-page .text .logo {
  width: 100%;
}

.start-page hr { /* линия */
  background-color: white;
  height: 1px;
  width: 20%;
  border: 0; /* граница вокруг элемента */
}

.arrow-down { /* стрелка вниз */
  margin-top: 15%;
}

/* menu */

.menu {
  width: 100%;
  background: white;
  border-bottom: 2px solid #f2f2f2;
  margin: 0;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.menu li {
  padding: 0 4%;
}

.menu li a {
  color: #333;
  font-size: 120%;
}

.menu li.active a {
  color: #ada074;
}

.menu li a:hover {
  color: #ada074;
}

/* pages */

.pages {
  width: 100%;
  height: auto;
  background: white;
  border-bottom: 2px solid #f2f2f2;
}

.pages p {
  font-size: 90%;
  text-align: justify;
  width: 30%;
  color: #a4a4a4;
  margin: 2% auto;
}

/* discography */

.discography {
  width: 100%;
  background: #f3f3f3;
  border-bottom: 2px solid #f2f2f2;
  margin: 0;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0px;
  justify-content: center;
}

.grid img {
  max-width: 90%;
}

article {
  padding: 1%;
  flex-basis: 25%;
}

clear { 
  clear: both; 
}

/* contact */

.contact {
  width: 100%;
  height: 50%;
  background-color: white;
  color: black;
}

.contact .content {
  width: 30%;
  font-size: 90%;
  justify-content: center;
  margin: auto;
  padding-top: 3%;
  color: black;
  font-weight: 600;
}

/* footer */

.footer {
  width: 100%;
  height: 50%;
  bottom: 0;
  background: gray;
}

.footer .logo {
  width: 100%;
  margin: auto;
  padding-top: 5%;
}

.footer .menu-footer {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 3%;
}

.footer .menu-footer a {
  padding: 1%;
  color: #a4a4a4;
}

.footer .menu-footer a:hover {
  color: #ada074;
}

.footer .copyright {
  width: 80%;
  font-size: 90%;
  color: #a4a4a4;
  text-align: center;
  margin: 0 auto;
  padding: 3%;
}

.footer .copyright a {
  color: #a4a4a4;
}

@media screen and ( max-width: 420px) {
  .pages p {
    width: 60%;
  }
  .contact .content {
    width: 60%;
  }
  .start-page .text {
    padding-top: 50%;
  }
  h1 {
    padding-top: 5%;
  }
}