* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-repeat: no-repeat;
	user-select: none;
	white-space: nowrap;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#map {
	max-width: 640px;
	max-height: 960px;
	width: 100%;
	height: 100%;
}