* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../font/OpenSans-Regular.ttf);
}

a {
  text-decoration: none;
  color: #FFF3E0;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:hover {
  outline: none;
}

.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:focus {
  outline: none;
}

.cookie-notification {
  width: 30%;
  height: 30%;
  background-color: #FFF3E0;
  color: #052033;
  z-index: 50000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie-notification_hidden_yes {
  display: none !important;
}

.cookie-notification__body {
  width: 80%;
  font-size: 1vw;
}

.cookie-notification__buttons {
  width: 80%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie-notification__button {
  height: 100%;
  color: #FFF3E0;
  font-size: 1vw;
}

#yes {
  width: 60%;
  background-color: #578470;
}

#no {
  width: 35%;
  background-color: rgba(87, 132, 112, 0.7);
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #052033;
  font-family: 'OpenSans';
  color: #FFF3E0;
  position: relative;
  overflow: hidden;
}

.corners {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

.cornerTop {
  width: 14.06%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.cornerTopFadeOut {
  -webkit-animation-name: cornerTopFadeOut;
          animation-name: cornerTopFadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes cornerTopFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cornerTopFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cornerTopFadeIn {
  -webkit-animation-name: cornerTopFadeIn;
          animation-name: cornerTopFadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes cornerTopFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cornerTopFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cornerTopMobile {
  display: none;
}

.cornerLeft {
  width: 16%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cornerLeftMobile {
  display: none;
}

.cornerRight {
  width: 37.5%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.logoSmall {
  width: 9.84%;
  height: 3.89%;
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.logoSmall a {
  width: 100%;
  height: 100%;
}

.logoSmall a img {
  width: 100%;
  height: 100%;
}

.logoSmallFadeIn {
  -webkit-animation-name: logoSmallFadeIn;
          animation-name: logoSmallFadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes logoSmallFadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes logoSmallFadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.logoSmallFadeOut {
  -webkit-animation-name: logoSmallFadeOut;
          animation-name: logoSmallFadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes logoSmallFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes logoSmallFadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.logoMobile {
  display: none;
}

.swiper-container {
  width: 100%;
  height: 100%;
  z-index: 500;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  z-index: 500;
}

.swiper-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

.swiper-main .slide1 {
  z-index: 600 !important;
}

.swiper-main .swiper-slide {
  width: 100%;
  height: 100% !important;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 500;
}

.menuOpen,
.menuClose {
  display: none;
}

.menuWrapp {
  opacity: 1;
  visibility: visible;
  width: 29.17%;
  height: 3.7%;
  position: absolute;
  top: 2.31%;
  right: 5%;
  z-index: 1000;
  overflow: visible !important;
}

.menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: visible !important;
  list-style-type: none;
  font-size: 0.94vw;
  line-height: 1.3vw;
}

.menu span:nth-child(5) {
  display: none;
}

.menu span:nth-child(6) {
  display: none;
}

.swiper-main .swiper-pagination-bullet {
  border-radius: 0;
  width: auto;
  height: 98%;
  font-size: 0.94vw;
  line-height: 1.3vw;
  text-align: center;
  opacity: 1;
  background: none;
  overflow: visible !important;
}

.kont-active {
  background-image: url(../img/wave_kont.png) !important;
  background-size: contain !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  overflow: visible !important;
}

.menuWrapp span:nth-child(4):hover {
  background-image: url(../img/wave_kont.png) !important;
  background-size: contain !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
}

.swiper-main .swiper-pagination-bullet-active {
  background-image: url(../img/wave.png);
  background-size: contain !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  overflow: visible !important;
}

.menuWrapp span:nth-child(1):hover,
.menuWrapp span:nth-child(2):hover,
.menuWrapp span:nth-child(3):hover {
  background-image: url(../img/wave.png) !important;
  background-size: contain !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
}

.footer {
  width: 100%;
  height: 2.78%;
  background-color: #000000;
  color: #FFF3E0;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.73vw;
  line-height: 1.3vw;
}

.footerPart1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.6;
}

.footerPart1 a {
  color: #FFF3E0;
  position: absolute;
}

.footerPart1 a:nth-child(1) {
  left: 10%;
}

.footerPart1 a:nth-child(2) {
  left: 17.81%;
}

.footerPart1 a:nth-child(3) {
  display: none;
}

.footerPart2 {
  width: 50%;
  height: 70%;
  background-image: url(../img/footer.svg);
  background-size: contain;
  background-position: center left;
}

.center {
  width: 38.85%;
  height: 33.61%;
  position: absolute;
  left: 10%;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center h2:nth-child(1) {
  display: none;
}

.center::before {
  position: absolute;
  background-image: url(../img/line.svg);
  background-position: center;
  background-size: cover;
  width: 5px;
  height: 59.5%;
  left: -5%;
  top: 5%;
  content: '';
}

.logo {
  width: 75.87%;
  height: 34.71%;
  overflow: visible;
  background-image: url(../img/logo.svg);
  background-position: top left;
  background-size: contain;
  -webkit-animation-name: logoFadeIn;
          animation-name: logoFadeIn;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  visibility: hidden;
}

@-webkit-keyframes logoFadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes logoFadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.center h2 {
  font-size: 2.5vw;
  line-height: 3.39vw;
  white-space: nowrap;
}

.btn {
  width: 49.33%;
  height: 24.79%;
  margin-left: 10%;
  border: 5px solid #FFF3E0;
  border-radius: 30px;
  font-size: 1.88vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  width: 12%;
  height: auto;
  padding-left: 5%;
}

.arrowAnim {
  -webkit-animation-name: arrowAnim;
          animation-name: arrowAnim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes arrowAnim {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(150%, 0);
            transform: translate(150%, 0);
  }
}

@keyframes arrowAnim {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(150%, 0);
            transform: translate(150%, 0);
  }
}

.unsereKunden h1 {
  font-size: 1.88vw;
  line-height: 2.55vw;
  position: absolute;
  top: 11.94%;
}

.unsereKundenCenter {
  width: 48.49%;
  height: 39.81%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 27.87%;
  font-size: 1.25vw;
  line-height: 1.72vw;
  text-align: center;
}

.box1,
.box2,
.box3 {
  width: 50%;
  height: 33.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.box1,
.box3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.box2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.box1 img,
.box2 img,
.box3 img {
  width: 23%;
  height: auto;
}

.machen h1 {
  height: 4.63%;
  font-size: 1.88vw;
  line-height: 2.55vw;
  position: absolute;
  top: 11.57%;
  display: block;
}

.machen h2 {
  font-size: 2.5vw;
  line-height: 3.39vw;
  padding-left: 5%;
}

.h2Desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h2Mobile {
  display: none;
}

.swiper-machen {
  width: 70.05%;
  height: 69.44%;
  position: absolute;
  top: 20.56%;
  left: 13.02%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-machen .swiper-slide {
  width: 100%;
  height: 100% !important;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.swiper-machen .text {
  padding-left: 5%;
}

.swiper-machen .text p {
  list-style-type: none;
  font-size: 0.94vw;
  line-height: 1.3vw;
  padding-bottom: 2.31%;
}

.examplesWrapp {
  width: 92.2%;
  height: 37.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.examples {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.examples .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 500;
  pointer-events: auto !important;
}

.example1 .slide1, .example1 .slide2 {
  width: 34.12% !important;
  height: 100%;
}

.example1 .slide3, .example1 .slide4 {
  width: 12.78% !important;
  height: 100%;
}

.example1 a {
  background-image: url(../img/text.svg);
  background-position: top center;
  background-size: 100% auto;
  z-index: 2000;
}

.example1 .slide1 a, .example1 .slide2 a {
  width: 20%;
  height: 8.93%;
}

.example1 .slide3 a, .example1 .slide4 a {
  width: 53.99%;
  height: 8.93%;
}

.example1 .img {
  width: 100%;
  height: 87.5%;
  background-position: top center;
  background-size: contain;
}

.example1 .slide1 .img {
  background-image: url(../img/examples1/a.jpg);
}

.example1 .slide2 .img {
  background-image: url(../img/examples1/b.jpg);
}

.examples .img video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5px;
}

.example1Prev,
.example1Next,
.example2Prev,
.example2Next,
.example3Prev,
.example3Next {
  width: 2.08vw;
  height: 2.08vw;
  position: absolute;
  z-index: 5000 !important;
}

.example1Prev:hover,
.example1Next:hover,
.example2Prev:hover,
.example2Next:hover,
.example3Prev:hover,
.example3Next:hover {
  cursor: pointer;
  outline: none;
}

.example1Next,
.example2Next,
.example3Next {
  right: 0;
  background-image: url(../img/next.svg);
  background-position: center;
  background-size: contain;
}

.example1Prev,
.example2Prev,
.example3Prev {
  left: 0;
  background-image: url(../img/back.svg);
  background-position: center;
  background-size: contain;
}

.pagination-machen {
  position: absolute;
  z-index: 5000;
  top: 41.67%;
  right: auto !important;
  left: 0 !important;
  width: 9.9% !important;
  height: 19.91% !important;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../img/circle.svg);
  background-position: left center;
  background-size: auto 84%;
}

.pagination-machen .swiper-pagination-bullet {
  border-radius: 0;
  border: 0;
  width: auto;
  height: 12%;
  text-align: center;
  font-weight: 400;
  font-size: 0.73vw;
  line-height: 0.99vw;
  opacity: 1;
  background: none;
}

.pagination-machen .swiper-pagination-bullet-active {
  background-image: url(../img/wave.png);
  background-size: contain !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  overflow: visible !important;
}

.dot1,
.dot3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.kontaktWrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kontakt h1 {
  font-size: 1.88vw;
  line-height: 2.55vw;
  font-weight: 400;
  position: absolute;
  top: 11.94%;
}

.bubble {
  display: block;
}

.button {
  background-color: #FFF3E0;
  border: none;
  color: #052033;
  display: inline-block;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 1px;
  padding: 20px 40px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.button:hover {
  color: #FFF3E0;
}

.button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button--bubble {
  position: relative;
  z-index: 2;
  color: #052033;
  background: none;
}

.button--bubble:hover {
  background: none;
}

.button--bubble:hover + .button--bubble__effect-container .circle {
  background-color: #578470;
  background: #578470;
}

.button--bubble:hover + .button--bubble__effect-container .button {
  background-color: #578470;
  background: #578470;
}

.button--bubble:active + .button--bubble__effect-container {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.button--bubble__container {
  position: relative;
  display: inline-block;
}

.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  -webkit-filter: url("#goo");
          filter: url("#goo");
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}

.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--bubble__container {
  top: 50%;
  margin-top: -25px;
}

.fish_1,
.fish_2,
.fish_3,
.fish_4,
.fish_5,
.fish_6 {
  width: 250px;
  height: 150px;
  position: absolute;
  z-index: 10000;
  overflow: visible;
}

.fish1,
.fish2,
.fish3,
.fish4,
.fish5,
.fish6 {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  transition: 1s;
}

.fish_1 {
  top: 15%;
  right: 10%;
  -webkit-animation-name: fish_1_animate;
          animation-name: fish_1_animate;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fish_1_animate {
  0% {
    -webkit-transform: translate(3000%, 0);
            transform: translate(3000%, 0);
  }
  100% {
    -webkit-transform: translate(-1500%, 0);
            transform: translate(-1500%, 0);
  }
}

@keyframes fish_1_animate {
  0% {
    -webkit-transform: translate(3000%, 0);
            transform: translate(3000%, 0);
  }
  100% {
    -webkit-transform: translate(-1500%, 0);
            transform: translate(-1500%, 0);
  }
}

.fish_2 {
  top: 20%;
  right: 0;
  -webkit-animation-name: fish_2_animate;
          animation-name: fish_2_animate;
  -webkit-animation-duration: 65s;
          animation-duration: 65s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fish_2_animate {
  0% {
    -webkit-transform: translate(3000%, 0);
            transform: translate(3000%, 0);
  }
  100% {
    -webkit-transform: translate(-1500%, 0);
            transform: translate(-1500%, 0);
  }
}

@keyframes fish_2_animate {
  0% {
    -webkit-transform: translate(3000%, 0);
            transform: translate(3000%, 0);
  }
  100% {
    -webkit-transform: translate(-1500%, 0);
            transform: translate(-1500%, 0);
  }
}

.fish_3 {
  left: 0;
  top: 35%;
  -webkit-animation-name: fish_3_animate;
          animation-name: fish_3_animate;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fish_3_animate {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(4000%, 0);
            transform: translate(4000%, 0);
  }
}

@keyframes fish_3_animate {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(4000%, 0);
            transform: translate(4000%, 0);
  }
}

.fish_4 {
  left: 5%;
  top: 45%;
  -webkit-animation-name: fish_4_animate;
          animation-name: fish_4_animate;
  -webkit-animation-duration: 65s;
          animation-duration: 65s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fish_4_animate {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(4000%, 0);
            transform: translate(4000%, 0);
  }
}

@keyframes fish_4_animate {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(4000%, 0);
            transform: translate(4000%, 0);
  }
}

.fish_5 {
  left: 10%;
  top: 55%;
  -webkit-animation-name: fish_5_animate;
          animation-name: fish_5_animate;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fish_5_animate {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(4000%, 0);
            transform: translate(4000%, 0);
  }
}

@keyframes fish_5_animate {
  0% {
    -webkit-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
  }
  100% {
    -webkit-transform: translate(4000%, 0);
            transform: translate(4000%, 0);
  }
}

.fish_6 {
  left: 15%;
  top: 65%;
  -webkit-animation-name: fish_6_animate;
          animation-name: fish_6_animate;
  -webkit-animation-duration: 65s;
          animation-duration: 65s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes fish_6_animate {
  0% {
    -webkit-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
  }
  100% {
    -webkit-transform: translate(4000%, 0);
            transform: translate(4000%, 0);
  }
}

@keyframes fish_6_animate {
  0% {
    -webkit-transform: translate(-300%, 0);
            transform: translate(-300%, 0);
  }
  100% {
    -webkit-transform: translate(4000%, 0);
            transform: translate(4000%, 0);
  }
}

.menuAnimOpen {
  -webkit-animation-name: menuAnimOpen;
          animation-name: menuAnimOpen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menuAnimOpen {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes menuAnimOpen {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.menuAnimClose {
  -webkit-animation-name: menuAnimClose;
          animation-name: menuAnimClose;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menuAnimClose {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes menuAnimClose {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.openAnim {
  -webkit-animation-name: openAnim;
          animation-name: openAnim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes openAnim {
  0% {
    opacity: 1;
    z-index: 1500;
  }
  100% {
    opacity: 0;
    z-index: 1400;
  }
}

@keyframes openAnim {
  0% {
    opacity: 1;
    z-index: 1500;
  }
  100% {
    opacity: 0;
    z-index: 1400;
  }
}

.openAnim2 {
  -webkit-animation-name: openAnim2;
          animation-name: openAnim2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes openAnim2 {
  0% {
    opacity: 0;
    z-index: 1400;
  }
  100% {
    opacity: 1;
    z-index: 1500;
  }
}

@keyframes openAnim2 {
  0% {
    opacity: 0;
    z-index: 1400;
  }
  100% {
    opacity: 1;
    z-index: 1500;
  }
}

.closeAnim {
  -webkit-animation-name: closeAnim;
          animation-name: closeAnim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes closeAnim {
  0% {
    opacity: 0;
    z-index: 1400;
  }
  100% {
    opacity: 1;
    z-index: 1500;
  }
}

@keyframes closeAnim {
  0% {
    opacity: 0;
    z-index: 1400;
  }
  100% {
    opacity: 1;
    z-index: 1500;
  }
}

.closeAnim2 {
  -webkit-animation-name: closeAnim2;
          animation-name: closeAnim2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes closeAnim2 {
  0% {
    opacity: 1;
    z-index: 1500;
  }
  100% {
    opacity: 0;
    z-index: 1400;
  }
}

@keyframes closeAnim2 {
  0% {
    opacity: 1;
    z-index: 1500;
  }
  100% {
    opacity: 0;
    z-index: 1400;
  }
}

@media screen and (max-width: 1025px) and (orientation: portrait) {
  .cookie-notification {
    width: 40%;
    height: 20%;
  }
  .cookie-notification__body {
    width: 85%;
    font-size: 1.5vw;
  }
  .cookie-notification__buttons {
    width: 85%;
  }
  .cookie-notification__button {
    font-size: 1.5vw;
  }
  .cornerTop {
    width: 24.06%;
  }
  .cornerLeft {
    width: 28.59%;
  }
  .cornerRight {
    width: 57.5%;
  }
  .logoSmall {
    width: 15%;
    height: 3.89%;
    top: 2%;
    left: 4%;
  }
  .menuWrapp {
    width: 60%;
    height: 3%;
    right: 3%;
  }
  .menu {
    font-size: 2vw;
    line-height: 2.5vw;
  }
  .swiper-main .swiper-pagination-bullet {
    font-size: 2vw;
    line-height: 2.5vw;
  }
  .footer {
    width: 100%;
    height: 4.17%;
    font-size: 1.8vw;
  }
  .footerPart1 a:nth-child(1) {
    left: 5%;
  }
  .footerPart1 a:nth-child(2) {
    left: 18%;
  }
  .center {
    width: 55%;
    height: 20%;
  }
  .center::before {
    width: 3px;
    height: 59.5%;
  }
  .center h2 {
    font-size: 3vw;
  }
  .btn {
    width: 50%;
    height: 25%;
    font-size: 2.5vw;
    border: 3px solid #FFF3E0;
    border-radius: 20px;
  }
  .unsereKunden h1 {
    font-size: 3vw;
  }
  .unsereKundenCenter {
    width: 75%;
    height: 40%;
    font-size: 2vw;
    line-height: 2vw;
  }
  .machen h1 {
    display: none;
  }
  .machen h2 {
    font-size: 3vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 0;
  }
  .swiper-machen {
    width: 75%;
    height: 65%;
    top: 15%;
    left: 10%;
  }
  .swiper-machen .text p {
    font-size: 2vw;
    line-height: 2.5vw;
    padding-bottom: 2.31%;
  }
  .pagination-machen {
    width: 5.33% !important;
    height: 7.5% !important;
    top: 37.03% !important;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-image: none;
  }
  .pagination-machen .swiper-pagination-bullet {
    border-radius: 50% !important;
    border: 1px solid #FFF3E0;
    width: 10px;
    height: 10px;
  }
  .pagination-machen .swiper-pagination-bullet-active {
    background: #FFF3E0 !important;
  }
  .dot1,
  .dot3 {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  .examplesWrapp {
    height: 25%;
  }
  .example1Prev,
  .example1Next,
  .example2Prev,
  .example2Next,
  .example3Prev,
  .example3Next {
    width: 4vw;
    height: 4vw;
  }
  .example1Next,
  .example2Next,
  .example3Next {
    right: -1%;
  }
  .example1Prev,
  .example2Prev,
  .example3Prev {
    left: -1%;
  }
  .kontakt h1 {
    font-size: 3vw;
  }
  .fish1,
  .fish2,
  .fish3,
  .fish4,
  .fish5,
  .fish6 {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .crabWrap {
    bottom: 5% !important;
    right: 5%;
  }
}

@media screen and (max-width: 737px) and (orientation: landscape) {
  .center {
    height: 30%;
  }
  .center::before {
    width: 2px;
  }
  .btn {
    border: 2px solid #FFF3E0;
  }
  .button {
    padding: 10px 20px;
  }
  .fish1,
  .fish2,
  .fish3,
  .fish4,
  .fish5,
  .fish6 {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media screen and (max-width: 415px) {
  .cookie-notification {
    width: 50%;
    height: 20%;
  }
  .cookie-notification__body {
    font-size: 1.8vw;
  }
  .cookie-notification__button {
    font-size: 1.8vw;
  }
  .cornerTop {
    display: none;
  }
  .cornerTopMobile {
    width: 33.6%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .cornerLeft {
    display: none;
  }
  .cornerLeftMobile {
    width: 50.67%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .cornerRight {
    display: none;
  }
  .logoSmall {
    display: none;
  }
  .logoMobile {
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 10%;
    height: 5%;
    position: absolute;
    z-index: 1000;
    top: 2%;
    left: 4%;
  }
  .logoMobile a {
    width: 100%;
    height: 100%;
  }
  .logoMobile a img {
    width: 100%;
    height: auto;
  }
  .menuWrapp {
    opacity: 0;
    visibility: hidden;
    width: 56%;
    height: 41%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/menu_mob.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .menu {
    width: 60%;
    height: 45%;
    position: absolute;
    top: 20%;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 3.73vw;
    line-height: 5.07vw;
  }
  .swiper-main .swiper-pagination-bullet {
    height: 20%;
    font-size: 3.73vw;
    line-height: 5.07vw;
  }
  .menuOpen {
    display: block;
    width: 9.6vw;
    height: 9.6vw;
    position: absolute;
    right: 3.5%;
    top: 2%;
    background-image: url(../img/open.svg);
    background-position: center;
    background-size: contain;
    z-index: 1500;
  }
  .menuClose {
    display: block;
    width: 9.6vw;
    height: 9.6vw;
    position: absolute;
    right: 3.5%;
    top: 2%;
    opacity: 0;
    background-image: url(../img/close.svg);
    background-position: center;
    background-size: contain;
    z-index: 1400;
  }
  .footer {
    height: 4.5%;
    background: none;
    font-size: 3.2vw;
    line-height: 4.27vw;
    color: #FFFFFF;
    opacity: 0.4;
  }
  .footerPart1 {
    width: 90%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerPart1 a {
    position: relative;
  }
  .footerPart1 a:nth-child(1) {
    left: auto;
  }
  .footerPart1 a:nth-child(2) {
    left: auto;
  }
  .footerPart1 a:nth-child(3) {
    display: block;
  }
  .footerPart2 {
    display: none;
  }
  .center {
    left: 15.47%;
    width: 72.27%;
    height: 15.29%;
  }
  .center h2:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .center::before {
    width: 2px;
    height: 100%;
    top: 0;
  }
  .logo {
    width: 77.12%;
    height: 50%;
  }
  .center h2 {
    font-size: 4.8vw;
    line-height: 6.67vw;
    bottom: 5%;
  }
  .btn {
    display: none;
  }
  .unsereKunden h1 {
    font-size: 6.4vw;
    line-height: 8.8vw;
    top: 7.5%;
  }
  .unsereKundenCenter {
    width: 78.67%;
    height: 44.38%;
    top: 27.87%;
    font-size: 3.73vw;
    line-height: 5.07vw;
  }
  .box1,
  .box2,
  .box3 {
    width: 100%;
  }
  .box1 img,
  .box2 img,
  .box3 img {
    width: 22.03%;
    height: auto;
  }
  .machen h1 {
    display: none;
  }
  .machen h2 {
    font-size: 6.4vw;
    line-height: 8.8vw;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .h2Desktop {
    display: none;
  }
  .h2Mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .swiper-machen {
    width: 86.4%;
    height: 85%;
    top: 7.5%;
    left: 8%;
  }
  .swiper-machen .text p {
    font-size: 3.73vw;
    line-height: 5.07vw;
    padding-bottom: 2.85%;
  }
  .examplesWrapp {
    width: 90%;
    height: 33%;
  }
  .examples .swiper-slide {
    width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .example1 .img {
    width: 90%;
    height: 100%;
    background-position: center center;
  }
  .example1 a {
    display: none;
  }
  .example1 .slide3 a, .example1 .slide4 a {
    width: 20%;
    height: 8.93%;
  }
  .example1Prev,
  .example1Next,
  .example2Prev,
  .example2Next,
  .example3Prev,
  .example3Next {
    width: 7vw;
    height: 7vw;
  }
  .example1Next,
  .example2Next,
  .example3Next {
    right: -2%;
  }
  .example1Prev,
  .example2Prev,
  .example3Prev {
    left: -2%;
  }
  .kontakt h1 {
    font-size: 6.4vw;
    line-height: 8.8vw;
    position: absolute;
    top: 7.5%;
  }
  .fish_1,
  .fish_2,
  .fish_3,
  .fish_4,
  .fish_5,
  .fish_6 {
    width: 100px;
    height: 50px;
  }
  .fish1,
  .fish2,
  .fish3,
  .fish4,
  .fish5,
  .fish6 {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .fish_1 {
    top: 10%;
    right: 10%;
    -webkit-animation-name: fish_1_animate_mob;
            animation-name: fish_1_animate_mob;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_1_animate_mob {
    0% {
      -webkit-transform: translate(1400%, 0);
              transform: translate(1400%, 0);
    }
    100% {
      -webkit-transform: translate(-400%, 0);
              transform: translate(-400%, 0);
    }
  }
  @keyframes fish_1_animate_mob {
    0% {
      -webkit-transform: translate(1400%, 0);
              transform: translate(1400%, 0);
    }
    100% {
      -webkit-transform: translate(-400%, 0);
              transform: translate(-400%, 0);
    }
  }
  .fish_2 {
    right: -8%;
    -webkit-animation-name: fish_2_animate_mob;
            animation-name: fish_2_animate_mob;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_2_animate_mob {
    0% {
      -webkit-transform: translate(1400%, 0);
              transform: translate(1400%, 0);
    }
    100% {
      -webkit-transform: translate(-500%, 0);
              transform: translate(-500%, 0);
    }
  }
  @keyframes fish_2_animate_mob {
    0% {
      -webkit-transform: translate(1400%, 0);
              transform: translate(1400%, 0);
    }
    100% {
      -webkit-transform: translate(-500%, 0);
              transform: translate(-500%, 0);
    }
  }
  .fish_3 {
    left: -5%;
    top: 35%;
    -webkit-animation-name: fish_3_animate_mob;
            animation-name: fish_3_animate_mob;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_3_animate_mob {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(1800%, 0);
              transform: translate(1800%, 0);
    }
  }
  @keyframes fish_3_animate_mob {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(1800%, 0);
              transform: translate(1800%, 0);
    }
  }
  .fish_4 {
    left: -5%;
    top: 50%;
    -webkit-animation-name: fish_4_animate_mob;
            animation-name: fish_4_animate_mob;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_4_animate_mob {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(1800%, 0);
              transform: translate(1800%, 0);
    }
  }
  @keyframes fish_4_animate_mob {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(1800%, 0);
              transform: translate(1800%, 0);
    }
  }
  .fish_5 {
    left: -5%;
    top: 65%;
    -webkit-animation-name: fish_5_animate_mob;
            animation-name: fish_5_animate_mob;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_5_animate_mob {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(1800%, 0);
              transform: translate(1800%, 0);
    }
  }
  @keyframes fish_5_animate_mob {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(1800%, 0);
              transform: translate(1800%, 0);
    }
  }
  .fish_6 {
    left: -5%;
    top: 80%;
    -webkit-animation-name: fish_6_animate_mob;
            animation-name: fish_6_animate_mob;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_6_animate_mob {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(1800%, 0);
              transform: translate(1800%, 0);
    }
  }
  @keyframes fish_6_animate_mob {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(1800%, 0);
              transform: translate(1800%, 0);
    }
  }
  .crabWrap {
    display: none !important;
  }
  .crab {
    display: none !important;
  }
}

@media screen and (max-height: 500px) {
  .swiper-main .swiper-pagination-bullet {
    height: 23%;
  }
}

@media screen and (min-width: 1921px) {
  .fish_1 {
    -webkit-animation-name: fish_1_animate_2k;
            animation-name: fish_1_animate_2k;
    -webkit-animation-duration: 60s;
            animation-duration: 60s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_1_animate_2k {
    0% {
      -webkit-transform: translate(3300%, 0);
              transform: translate(3300%, 0);
    }
    100% {
      -webkit-transform: translate(-1500%, 0);
              transform: translate(-1500%, 0);
    }
  }
  @keyframes fish_1_animate_2k {
    0% {
      -webkit-transform: translate(3300%, 0);
              transform: translate(3300%, 0);
    }
    100% {
      -webkit-transform: translate(-1500%, 0);
              transform: translate(-1500%, 0);
    }
  }
  .fish_2 {
    -webkit-animation-name: fish_2_animate_2k;
            animation-name: fish_2_animate_2k;
    -webkit-animation-duration: 65s;
            animation-duration: 65s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_2_animate_2k {
    0% {
      -webkit-transform: translate(3300%, 0);
              transform: translate(3300%, 0);
    }
    100% {
      -webkit-transform: translate(-1500%, 0);
              transform: translate(-1500%, 0);
    }
  }
  @keyframes fish_2_animate_2k {
    0% {
      -webkit-transform: translate(3300%, 0);
              transform: translate(3300%, 0);
    }
    100% {
      -webkit-transform: translate(-1500%, 0);
              transform: translate(-1500%, 0);
    }
  }
  .fish_3 {
    -webkit-animation-name: fish_3_animate_2k;
            animation-name: fish_3_animate_2k;
    -webkit-animation-duration: 60s;
            animation-duration: 60s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_3_animate_2k {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(5500%, 0);
              transform: translate(5500%, 0);
    }
  }
  @keyframes fish_3_animate_2k {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(5500%, 0);
              transform: translate(5500%, 0);
    }
  }
  .fish_4 {
    -webkit-animation-name: fish_4_animate_2k;
            animation-name: fish_4_animate_2k;
    -webkit-animation-duration: 65s;
            animation-duration: 65s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_4_animate_2k {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(5500%, 0);
              transform: translate(5500%, 0);
    }
  }
  @keyframes fish_4_animate_2k {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(5500%, 0);
              transform: translate(5500%, 0);
    }
  }
  .fish_5 {
    -webkit-animation-name: fish_5_animate_2k;
            animation-name: fish_5_animate_2k;
    -webkit-animation-duration: 60s;
            animation-duration: 60s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_5_animate_2k {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(5500%, 0);
              transform: translate(5500%, 0);
    }
  }
  @keyframes fish_5_animate_2k {
    0% {
      -webkit-transform: translate(-200%, 0);
              transform: translate(-200%, 0);
    }
    100% {
      -webkit-transform: translate(5500%, 0);
              transform: translate(5500%, 0);
    }
  }
  .fish_6 {
    -webkit-animation-name: fish_6_animate_2k;
            animation-name: fish_6_animate_2k;
    -webkit-animation-duration: 65s;
            animation-duration: 65s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_6_animate_2k {
    0% {
      -webkit-transform: translate(-300%, 0);
              transform: translate(-300%, 0);
    }
    100% {
      -webkit-transform: translate(5500%, 0);
              transform: translate(5500%, 0);
    }
  }
  @keyframes fish_6_animate_2k {
    0% {
      -webkit-transform: translate(-300%, 0);
              transform: translate(-300%, 0);
    }
    100% {
      -webkit-transform: translate(5500%, 0);
              transform: translate(5500%, 0);
    }
  }
}

@media screen and (min-width: 2561px) {
  .fish1,
  .fish2,
  .fish3,
  .fish4,
  .fish5,
  .fish6 {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .fish_1 {
    -webkit-animation-name: fish_1_animate_2k;
            animation-name: fish_1_animate_2k;
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_1_animate_2k {
    0% {
      -webkit-transform: translate(6000%, 0);
              transform: translate(6000%, 0);
    }
    100% {
      -webkit-transform: translate(-2000%, 0);
              transform: translate(-2000%, 0);
    }
  }
  @keyframes fish_1_animate_2k {
    0% {
      -webkit-transform: translate(6000%, 0);
              transform: translate(6000%, 0);
    }
    100% {
      -webkit-transform: translate(-2000%, 0);
              transform: translate(-2000%, 0);
    }
  }
  .fish_2 {
    -webkit-animation-name: fish_2_animate_2k;
            animation-name: fish_2_animate_2k;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_2_animate_2k {
    0% {
      -webkit-transform: translate(6000%, 0);
              transform: translate(6000%, 0);
    }
    100% {
      -webkit-transform: translate(-2000%, 0);
              transform: translate(-2000%, 0);
    }
  }
  @keyframes fish_2_animate_2k {
    0% {
      -webkit-transform: translate(6000%, 0);
              transform: translate(6000%, 0);
    }
    100% {
      -webkit-transform: translate(-2000%, 0);
              transform: translate(-2000%, 0);
    }
  }
  .fish_3 {
    -webkit-animation-name: fish_3_animate_2k;
            animation-name: fish_3_animate_2k;
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_3_animate_2k {
    0% {
      -webkit-transform: translate(-300%, 0);
              transform: translate(-300%, 0);
    }
    100% {
      -webkit-transform: translate(8000%, 0);
              transform: translate(8000%, 0);
    }
  }
  @keyframes fish_3_animate_2k {
    0% {
      -webkit-transform: translate(-300%, 0);
              transform: translate(-300%, 0);
    }
    100% {
      -webkit-transform: translate(8000%, 0);
              transform: translate(8000%, 0);
    }
  }
  .fish_4 {
    -webkit-animation-name: fish_4_animate_2k;
            animation-name: fish_4_animate_2k;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_4_animate_2k {
    0% {
      -webkit-transform: translate(-300%, 0);
              transform: translate(-300%, 0);
    }
    100% {
      -webkit-transform: translate(8000%, 0);
              transform: translate(8000%, 0);
    }
  }
  @keyframes fish_4_animate_2k {
    0% {
      -webkit-transform: translate(-300%, 0);
              transform: translate(-300%, 0);
    }
    100% {
      -webkit-transform: translate(8000%, 0);
              transform: translate(8000%, 0);
    }
  }
  .fish_5 {
    -webkit-animation-name: fish_5_animate_2k;
            animation-name: fish_5_animate_2k;
    -webkit-animation-duration: 50s;
            animation-duration: 50s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_5_animate_2k {
    0% {
      -webkit-transform: translate(-300%, 0);
              transform: translate(-300%, 0);
    }
    100% {
      -webkit-transform: translate(8000%, 0);
              transform: translate(8000%, 0);
    }
  }
  @keyframes fish_5_animate_2k {
    0% {
      -webkit-transform: translate(-300%, 0);
              transform: translate(-300%, 0);
    }
    100% {
      -webkit-transform: translate(8000%, 0);
              transform: translate(8000%, 0);
    }
  }
  .fish_6 {
    -webkit-animation-name: fish_6_animate_2k;
            animation-name: fish_6_animate_2k;
    -webkit-animation-duration: 55s;
            animation-duration: 55s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes fish_6_animate_2k {
    0% {
      -webkit-transform: translate(-400%, 0);
              transform: translate(-400%, 0);
    }
    100% {
      -webkit-transform: translate(8000%, 0);
              transform: translate(8000%, 0);
    }
  }
  @keyframes fish_6_animate_2k {
    0% {
      -webkit-transform: translate(-400%, 0);
              transform: translate(-400%, 0);
    }
    100% {
      -webkit-transform: translate(8000%, 0);
              transform: translate(8000%, 0);
    }
  }
}

.crabWrap {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 0;
  z-index: 1000;
  bottom: 8%;
  right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crab {
  position: absolute;
  right: auto;
  bottom: auto;
  -webkit-transform: scale(0.13);
          transform: scale(0.13);
  -webkit-filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
}

.claw1Anim {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.claw1Anim_2 {
  -webkit-transform: translate(40px, 20px);
          transform: translate(40px, 20px);
}

.claw2Anim {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.claw2Anim_2 {
  -webkit-transform: translate(-30px, 40px);
          transform: translate(-30px, 40px);
}
