//border: 1px solid white;

$bgColor: #052033;
$footerColor: #000000;
$textColor: #FFF3E0;

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-weight: 400;
	background-repeat: no-repeat;
}

@font-face {
	font-family: 'OpenSans';
	src: url(../font/OpenSans-Regular.ttf);
}

a {
	text-decoration: none;
	color: $textColor;
}

.swiper-pagination-bullet:hover,
.swiper-pagination-bullet:hover {
	outline: none;
}
.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:focus {
	outline: none;
}

//cookie
.cookie-notification {
	width: 30%;
	height: 30%;
	background-color: $textColor;
	color: $bgColor;
	z-index: 50000;
	display: flex;
	//display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.cookie-notification_hidden_yes {
	display: none !important;
}
.cookie-notification__body {
	width: 80%;
	font-size: 1vw;
}
.cookie-notification__buttons {
	width: 80%;
	height: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cookie-notification__button {
	height: 100%;
	color: $textColor;
	font-size: 1vw;
}
#yes {
	width: 60%;
	background-color: #578470;
}
#no {
	width: 35%;
	background-color: rgba(87, 132, 112, 0.7);
}
//cookie

html,
body {
	width: 100%;
	height: 100%;
	background-color: $bgColor;
	font-family: 'OpenSans';
	color: $textColor;
	position: relative;
	overflow: hidden;
}

//corners
.corners {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 0;
}
.cornerTop {
	width: 14.06%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.cornerTopFadeOut {
	animation-name: cornerTopFadeOut;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes cornerTopFadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.cornerTopFadeIn {
	animation-name: cornerTopFadeIn;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes cornerTopFadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.cornerTopMobile {
	display: none;
}

.cornerLeft {
	width: 16%;
	height: auto;
	position: absolute;
	bottom: 0;
	left: 0;
}

.cornerLeftMobile {
	display: none;
}

.cornerRight {
	width: 37.5%;
	height: auto;
	position: absolute;
	bottom: 0;
	right: 0;
}
//corners

//logo
.logoSmall {
	width: 9.84%;
	height: 3.89%;
	position: absolute;
	top: 2%;
	left: 2%;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
}
.logoSmall a {
	width: 100%;
	height: 100%;
}
.logoSmall a img {
	width: 100%;
	height: 100%;
}

.logoSmallFadeIn {
	animation-name: logoSmallFadeIn;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes logoSmallFadeIn {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

.logoSmallFadeOut {
	animation-name: logoSmallFadeOut;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes logoSmallFadeOut {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

.logoMobile {
	display: none;
}
//logo

//swiper
.swiper-container {
	width: 100%;
	height: 100%;
	z-index: 500;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	z-index: 500;
}
.swiper-main {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
}
.swiper-main .slide1 {
	z-index: 600 !important;
}
.swiper-main .swiper-slide {
	width: 100%;
	height: 100% !important;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 500;
}

.menuOpen,
.menuClose {
	display: none;
}
.menuWrapp {
	opacity: 1;
	visibility: visible;
	width: 29.17%;
	height: 3.7%;
	position: absolute;
	top: 2.31%;
	right: 5%;
	z-index: 1000;
	overflow: visible !important;
}
.menu {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	overflow: visible !important;
	list-style-type: none;
	font-size: 0.94vw;
	line-height: 1.3vw;
}
.menu span:nth-child(5) {
	display: none;
}
.menu span:nth-child(6) {
	display: none;
}
.swiper-main .swiper-pagination-bullet {
	border-radius: 0;
	width: auto;
	height: 98%;
	font-size: 0.94vw;
	line-height: 1.3vw;
	text-align: center;
	opacity: 1;
	background: none;
	overflow: visible !important;
}
.kont-active {
	background-image: url(../img/wave_kont.png) !important;
	background-size: contain !important;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
	overflow: visible !important;
}
.menuWrapp span:nth-child(4):hover {
	background-image: url(../img/wave_kont.png) !important;
	background-size: contain !important;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
}
.swiper-main .swiper-pagination-bullet-active {
	background-image: url(../img/wave.png);
	background-size: contain !important;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
	overflow: visible !important;
}
.menuWrapp span:nth-child(1):hover,
.menuWrapp span:nth-child(2):hover,
.menuWrapp span:nth-child(3):hover {
	background-image: url(../img/wave.png) !important;
	background-size: contain !important;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
}
//swiper

//footer
.footer {
	width: 100%;
	height: 2.78%;
	background-color: $footerColor;
	color: $textColor;
	position: absolute;
	bottom: -1px;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 0.73vw;
	line-height: 1.3vw;
}
.footerPart1 {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.6;
}
.footerPart1 a {
	color: $textColor;
	position: absolute;
}
.footerPart1 a:nth-child(1) {
	left: 10%;
}
.footerPart1 a:nth-child(2) {
	left: 17.81%;
}
.footerPart1 a:nth-child(3) {
	display: none;
}
.footerPart2 {
	width: 50%;
	height: 70%;
	background-image: url(../img/footer.svg);
	background-size: contain;
	background-position: center left;
}
//footer

//wer wir sind
.center {
	width: 38.85%;
	height: 33.61%;
	position: absolute;
	left: 10%;
	overflow: visible;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.center h2:nth-child(1) {
	display: none;
}
.center::before {
	position: absolute;
	background-image: url(../img/line.svg);
	background-position: center;
	background-size: cover;
	width: 5px;
	height: 59.5%;
	left: -5%;
	top: 5%;
	content: '';
}

//logo
.logo {
	width: 75.87%;
	height: 34.71%;
	overflow: visible;
	background-image: url(../img/logo.svg);
	background-position: top left;
	background-size: contain;
	animation-name: logoFadeIn;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	opacity: 0;
	visibility: hidden;
}
@keyframes logoFadeIn {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
//logo

.center h2 {
	font-size: 2.5vw;
	line-height: 3.39vw;
	white-space: nowrap;
}

.btn {
	width: 49.33%;
	height: 24.79%;
	margin-left: 10%;
	border: 5px solid $textColor;
	border-radius: 30px;
	font-size: 1.88vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.arrow {
	width: 12%;
	height: auto;
	padding-left: 5%;
}
.arrowAnim {
	animation-name: arrowAnim;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes arrowAnim {
	0% {
		transform: translate(0%, 0);
	}
	100% {
		transform: translate(150%, 0);
	}
}
//wer wir sind

//unsere kunden
.unsereKunden h1 {
	font-size: 1.88vw;
	line-height: 2.55vw;
	position: absolute;
	top: 11.94%;
}
.unsereKundenCenter {
	width: 48.49%;
	height: 39.81%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 27.87%;
	font-size: 1.25vw;
	line-height: 1.72vw;
	text-align: center;
}

.box1,
.box2,
.box3 {
	width: 50%;
	height: 33.4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: visible;
	//border: 1px solid #ffffff;
}
.box1,
.box3 {
	align-self: flex-start;
}
.box2 {
	align-self: flex-end;
}
.box1 img,
.box2 img,
.box3 img {
	width: 23%;
	height: auto;
}
//unsere kunden

//was wir machen
.machen h1 {
	height: 4.63%;
	font-size: 1.88vw;
	line-height: 2.55vw;
	position: absolute;
	top: 11.57%;
	display: block;
}
.machen h2 {
	font-size: 2.5vw;
	line-height: 3.39vw;
	padding-left: 5%;
}
.h2Desktop {
	display: flex;
}
.h2Mobile {
	display: none;
}
.swiper-machen {
	width: 70.05%;
	height: 69.44%;
	position: absolute;
	top: 20.56%;
	left: 13.02%;
	display: flex;
	justify-content: center;
	align-items: center;
	//border: 1px solid white;
	//overflow: hidden;
}
.swiper-machen .swiper-slide {
	width: 100%;
	height: 100% !important;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	//background-color: #052033;
	overflow: hidden;
}

.swiper-machen .text {
	padding-left: 5%;
}
.swiper-machen .text p {
	list-style-type: none;
	font-size: 0.94vw;
	line-height: 1.3vw;
	padding-bottom: 2.31%;
}

//examples
.examplesWrapp {
	width: 92.2%;
	height: 37.33%;
	display: flex;
	//flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.examples {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.examples .swiper-slide {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 500;
	pointer-events: auto !important;
}
.example1 .slide1, .example1 .slide2 {
	width: 34.12% !important;
	height: 100%;
}
.example1 .slide3, .example1 .slide4 {
	width: 12.78% !important;
	height: 100%;
}
.example1 a {
	background-image: url(../img/text.svg);
	background-position: top center;
	background-size: 100% auto;
	z-index: 2000;
}
.example1 .slide1 a, .example1 .slide2 a {
	width: 20%;
	height: 8.93%;
}
.example1 .slide3 a, .example1 .slide4 a {
	width: 53.99%;
	height: 8.93%;
}
.example1 .img {
	width: 100%;
	height: 87.5%;
	background-position: top center;
	background-size: contain;
}
.example1 .slide1 .img {
	background-image: url(../img/examples1/a.jpg);
}
.example1 .slide2 .img {
	background-image: url(../img/examples1/b.jpg);
}
//.example1 .slide3 .img {
//	background-image: url(../img/examples1/c.jpg);
//}
//.example1 .slide4 .img {
//	background-image: url(../img/examples1/d.jpg);
//}
.examples .img video {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	border-radius: 0.5px
}

.example1Prev,
.example1Next,
.example2Prev,
.example2Next,
.example3Prev,
.example3Next {
	width: 2.08vw;
	height: 2.08vw;
	position: absolute;
	z-index: 5000 !important;
}
.example1Prev:hover,
.example1Next:hover,
.example2Prev:hover,
.example2Next:hover,
.example3Prev:hover,
.example3Next:hover {
	cursor: pointer;
	outline: none;
}

.example1Next,
.example2Next,
.example3Next {
	right: 0;
	background-image: url(../img/next.svg);
	background-position: center;
	background-size: contain;
}
.example1Prev,
.example2Prev,
.example3Prev {
	left: 0;
	background-image: url(../img/back.svg);
	background-position: center;
	background-size: contain;
}
//examples

.pagination-machen {
	position: absolute;
	z-index: 5000;
	//top: auto !important;
	top: 41.67%;
	right: auto !important;
	left: 0 !important;
	width: 9.9% !important;
	height: 19.91% !important;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	background-image: url(../img/circle.svg);
	background-position: left center;
	background-size: auto 84%;
}
.pagination-machen .swiper-pagination-bullet {
	//border-radius: 50% !important;
	//border: 1px solid $textColor;
	//width: 15px;
	//height: 15px;
	border-radius: 0;
	border: 0;
	width: auto;
	height: 12%;
	text-align: center;
	font-weight: 400;
	font-size: 0.73vw;
	line-height: 0.99vw;
	opacity: 1;
	background: none;
}
.pagination-machen .swiper-pagination-bullet-active {
	//background: $textColor !important;
	//background: none;
	background-image: url(../img/wave.png);
	background-size: contain !important;
	background-position: bottom !important;
	background-repeat: no-repeat !important;
	overflow: visible !important;
}
.dot1,
.dot3 {
	align-self: center;
}
//was wir machen

//kontakt
.kontaktWrap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.kontakt h1 {
	font-size: 1.88vw;
	line-height: 2.55vw;
	font-weight: 400;
	position: absolute;
	top: 11.94%;
}

.bubble {
	display: block;
}
.button {
	background-color: $textColor;
	border: none;
	color: #052033;
	display: inline-block;
	font-size: 14px;
	font-weight: 100;
	text-decoration: none;
	user-select: none;
	letter-spacing: 1px;
	padding: 20px 40px;
	text-transform: uppercase;
	transition: all 0.1s ease-out;

	&:hover {
		color: $textColor;
	}
	&:active {
		transform: scale(0.95);
	}
	&--bubble {
		position: relative;
		z-index: 2;
		color: #052033;
		background: none;

		&:hover {
			background: none;
		}
		&:hover+.button--bubble__effect-container .circle {
			background-color: #578470;
			background: #578470;
		}
		&:hover+.button--bubble__effect-container .button {
			background-color: #578470;
			background: #578470;
		}
		&:active+.button--bubble__effect-container {
			transform: scale(0.95);
		}
		&__container {
			position: relative;
			display: inline-block;

			.effect-button {
				position: absolute;
				width: 50%;
				height: 25%;
				top: 50%;
				left: 25%;
				z-index: 1;
				transform: translateY(-50%);
			}
		}
	}
}
.button--bubble__effect-container {
	position: absolute;
	display: block;
	width: 200%;
	height: 400%;
	top: -150%;
	left: -50%;
	filter: url("#goo");
	transition: all 0.1s ease-out;
	pointer-events: none;
	.circle {
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 15px;
		&.top-left {
			top: 40%;
			left: 27%;
		}
		&.bottom-right {
			bottom: 40%;
			right: 27%;
		}
	}
}
.goo {
	position: absolute;
	visibility: hidden;
	width: 1px;
	height: 1px;
}
.button--bubble__container {
	top: 50%;
	margin-top: -25px;
}
//kontakt

//fishes
.fish_1,
.fish_2,
.fish_3,
.fish_4,
.fish_5,
.fish_6 {
	width: 250px;
	height: 150px;
	position: absolute;
	z-index: 10000;
	overflow: visible;
	//border: 1px solid white;
}
.fish1,
.fish2,
.fish3,
.fish4,
.fish5,
.fish6 {
	transform: scale(1);
	transition: 1s;
}

//fish 1
.fish_1 {
	top: 15%;
	right: 10%;
	animation-name: fish_1_animate;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes fish_1_animate {
	0% {
		transform: translate(3000%, 0);
	}
	100% {
		transform: translate(-1500%, 0);
	}
}

//fish 2
.fish_2 {
	top: 20%;
	right: 0;
	animation-name: fish_2_animate;
	animation-duration: 65s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes fish_2_animate {
	0% {
		transform: translate(3000%, 0);
	}
	100% {
		transform: translate(-1500%, 0);
	}
}

//fish 3
.fish_3 {
	left: 0;
	top: 35%;
	animation-name: fish_3_animate;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes fish_3_animate {
	0% {
		transform: translate(-200%, 0);
	}
	100% {
		transform: translate(4000%, 0);
	}
}

//fish 4
.fish_4 {
	left: 5%;
	top: 45%;
	animation-name: fish_4_animate;
	animation-duration: 65s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes fish_4_animate {
	0% {
		transform: translate(-200%, 0);
	}
	100% {
		transform: translate(4000%, 0);
	}
}

//fish 5
.fish_5 {
	left: 10%;
	top: 55%;
	animation-name: fish_5_animate;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes fish_5_animate {
	0% {
		transform: translate(-200%, 0);
	}
	100% {
		transform: translate(4000%, 0);
	}
}

//fish 6
.fish_6 {
	left: 15%;
	top: 65%;
	animation-name: fish_6_animate;
	animation-duration: 65s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes fish_6_animate {
	0% {
		transform: translate(-300%, 0);
	}
	100% {
		transform: translate(4000%, 0);
	}
}
//fishes

//menu animation mobile
.menuAnimOpen {
	animation-name: menuAnimOpen;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes menuAnimOpen {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
.menuAnimClose {
	animation-name: menuAnimClose;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes menuAnimClose {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}
.openAnim {
	animation-name: openAnim;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes openAnim {
	0% {
		opacity: 1;
		z-index: 1500;
	}
	100% {
		opacity: 0;
		z-index: 1400;
	}
}
.openAnim2 {
	animation-name: openAnim2;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes openAnim2 {
	0% {
		opacity: 0;
		z-index: 1400;
	}
	100% {
		opacity: 1;
		z-index: 1500;
	}
}
.closeAnim {
	animation-name: closeAnim;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes closeAnim {
	0% {
		opacity: 0;
		z-index: 1400;
	}
	100% {
		opacity: 1;
		z-index: 1500;
	}
}
.closeAnim2 {
	animation-name: closeAnim2;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes closeAnim2 {
	0% {
		opacity: 1;
		z-index: 1500;
	}
	100% {
		opacity: 0;
		z-index: 1400;
	}
}
//menu animation mobile

//tablet
@media screen and (max-width: 1025px) and (orientation: portrait) {
	//cookie
	.cookie-notification {
		width: 40%;
		height: 20%;
	}
	.cookie-notification__body {
		width: 85%;
		font-size: 1.5vw;
	}
	.cookie-notification__buttons {
		width: 85%;
	}
	.cookie-notification__button {
		font-size: 1.5vw;
	}
	//cookie

	//corners
	.cornerTop {
		width: 24.06%;
	}
	.cornerLeft {
		width: 28.59%;
	}
	.cornerRight {
		width: 57.5%;
	}
	//corners

	//logo
	.logoSmall {
		width: 15%;
		height: 3.89%;
		top: 2%;
		left: 4%;
	}
	//logo

	//swiper
	.menuWrapp {
		width: 60%;
		height: 3%;
		//top: 2.31%;
		right: 3%;
	}
	.menu {
		font-size: 2vw;
		line-height: 2.5vw;
	}
	.swiper-main .swiper-pagination-bullet {
		font-size: 2vw;
		line-height: 2.5vw;
	}
	//swiper

	//footer
	.footer {
		width: 100%;
		height: 4.17%;
		font-size: 1.8vw;
	}
	.footerPart1 a:nth-child(1) {
		left: 5%;
	}
	.footerPart1 a:nth-child(2) {
		left: 18%;
	}
	//footer

	//wer wir sind
	.center {
		width: 55%;
		height: 20%;
	}
	.center::before {
		width: 3px;
		height: 59.5%;
	}
	.center h2 {
		font-size: 3vw;
	}
	.btn {
		width: 50%;
		height: 25%;
		font-size: 2.5vw;
		border: 3px solid $textColor;
		border-radius: 20px;
	}
	//wer wir sind

	//unsere kunden
	.unsereKunden h1 {
		font-size: 3vw;
	}
	.unsereKundenCenter {
		width: 75%;
		height: 40%;
		font-size: 2vw;
		line-height: 2vw;
	}
	//unsere kunden

	//was wir machen
	.machen h1 {
		display: none;
	}
	.machen h2 {
		font-size: 3vw;
		//text-align: center;
		align-self: center;
		padding-left: 0;
	}
	.swiper-machen {
		width: 75%;
		height: 65%;
		top: 15%;
		left: 10%;
	}
	.swiper-machen .text p {
		font-size: 2vw;
		line-height: 2.5vw;
		padding-bottom: 2.31%;
	}

	.pagination-machen {
		width: 5.33% !important;
		height: 7.5% !important;
		top: 37.03% !important;
		align-items: flex-end;
		background-image: none;
	}
	.pagination-machen .swiper-pagination-bullet {
		border-radius: 50% !important;
		border: 1px solid $textColor;
		width: 10px;
		height: 10px;
	}
	.pagination-machen .swiper-pagination-bullet-active {
		background: $textColor !important;
	}
	.dot1,
	.dot3 {
		align-self: auto;
	}

	.examplesWrapp {
		height: 25%;
	}
	.example1Prev,
	.example1Next,
	.example2Prev,
	.example2Next,
	.example3Prev,
	.example3Next {
		width: 4vw;
		height: 4vw;
	}
	.example1Next,
	.example2Next,
	.example3Next {
		right: -1%;
	}
	.example1Prev,
	.example2Prev,
	.example3Prev {
		left: -1%;
	}
	//was wir machen

	//kontakt
	.kontakt h1 {
		font-size: 3vw;
	}
	//kontakt

	//fishes
	.fish1,
	.fish2,
	.fish3,
	.fish4,
	.fish5,
	.fish6 {
		transform: scale(0.7);
	}
	//fishes

	//crab
	.crabWrap {
		bottom: 5% !important;
		right: 5%;
	}
	//crab
}
//tablet

//mobile landscape
@media screen and (max-width: 737px) and (orientation: landscape) {
	.center {
		height: 30%;
	}
	.center::before {
		width: 2px;
	}
	.btn {
		border: 2px solid $textColor;
	}
	.button {
		padding: 10px 20px;
	}
	.fish1,
	.fish2,
	.fish3,
	.fish4,
	.fish5,
	.fish6 {
		transform: scale(0.5);
	}
}
//mobile landscape

//mobile
@media screen and (max-width: 415px) {
	//cookie
	.cookie-notification {
		width: 50%;
		height: 20%;
	}
	.cookie-notification__body {
		font-size: 1.8vw;
	}
	.cookie-notification__button {
		font-size: 1.8vw;
	}
	//cookie

	.cornerTop {
		display: none;
	}
	.cornerTopMobile {
		width: 33.6%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	.cornerLeft {
		display: none;
	}
	.cornerLeftMobile {
		width: 50.67%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.cornerRight {
		display: none;
	}

	//logo
	.logoSmall {
		display: none;
	}
	.logoMobile {
		display: block;
		opacity: 0;
		visibility: hidden;
		width: 10%;
		height: 5%;
		position: absolute;
		z-index: 1000;
		top: 2%;
		left: 4%;
	}
	.logoMobile a {
		width: 100%;
		height: 100%;
	}
	.logoMobile a img {
		width: 100%;
		height: auto;
	}
	//logo

	//swiper
	.menuWrapp {
		opacity: 0;
		visibility: hidden;
		width: 56%;
		height: 41%;
		position: absolute;
		top: 0;
		right: 0;
		background-image: url(../img/menu_mob.svg);
		background-position: top right;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.menu {
		width: 60%;
		height: 45%;
		position: absolute;
		top: 20%;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		font-size: 3.73vw;
		line-height: 5.07vw;
	}
	.swiper-main .swiper-pagination-bullet {
		height: 20%;
		font-size: 3.73vw;
		line-height: 5.07vw;
	}
	.menuOpen {
		display: block;
		width: 9.6vw;
		height: 9.6vw;
		position: absolute;
		right: 3.5%;
		top: 2%;
		background-image: url(../img/open.svg);
		background-position: center;
		background-size: contain;
		z-index: 1500;
	}
	.menuClose {
		display: block;
		width: 9.6vw;
		height: 9.6vw;
		position: absolute;
		right: 3.5%;
		top: 2%;
		opacity: 0;
		background-image: url(../img/close.svg);
		background-position: center;
		background-size: contain;
		z-index: 1400;
	}
	//swiper

	//footer
	.footer {
		height: 4.5%;
		background: none;
		font-size: 3.2vw;
		line-height: 4.27vw;
		color: #FFFFFF;
		opacity: 0.4;
	}
	.footerPart1 {
		width: 90%;
		justify-content: space-between;
	}
	.footerPart1 a {
		position: relative;
	}
	.footerPart1 a:nth-child(1) {
		left: auto;
	}
	.footerPart1 a:nth-child(2) {
		left: auto;
	}
	.footerPart1 a:nth-child(3) {
		display: block;
	}
	.footerPart2 {
		display: none;
	}
	//footer

	//wer wir sind
	.center {
		left: 15.47%;
		width: 72.27%;
		height: 15.29%;
	}
	.center h2:nth-child(1) {
		display: flex;
	}
	.center::before {
		width: 2px;
		height: 100%;
		top: 0;
	}
	.logo {
		width: 77.12%;
		height: 50%;
	}
	.center h2 {
		font-size: 4.8vw;
		line-height: 6.67vw;
		bottom: 5%;
	}
	.btn {
		display: none;
	}
	//wer wir sind

	//unsere kunden
	.unsereKunden h1 {
		font-size: 6.4vw;
		line-height: 8.8vw;
		top: 7.5%;
	}
	.unsereKundenCenter {
		width: 78.67%;
		height: 44.38%;
		top: 27.87%;
		font-size: 3.73vw;
		line-height: 5.07vw;
	}
	.box1,
	.box2,
	.box3 {
		width: 100%;
	}
	.box1 img,
	.box2 img,
	.box3 img {
		width: 22.03%;
		height: auto;
	}
	//unsere kunden

	//was wir machen
	.machen h1 {
		display: none;
	}
	.machen h2 {
		font-size: 6.4vw;
		line-height: 8.8vw;
		text-align: center;
		align-self: center;
	}
	.h2Desktop {
		display: none;
	}
	.h2Mobile {
		display: flex;
	}
	.swiper-machen {
		width: 86.4%;
		height: 85%;
		top: 7.5%;
		left: 8%;
	}
	//.swiper-machen .text {
	//	width: 92.59%;
	//}
	.swiper-machen .text p {
		font-size: 3.73vw;
		line-height: 5.07vw;
		padding-bottom: 2.85%;
	}

	.examplesWrapp {
		width: 90%;
		height: 33%;
	}
	.examples .swiper-slide {
		width: 100% !important;
		justify-content: center;
	}
	.example1 .img {
		width: 90%;
		height: 100%;
		background-position: center center;
	}
	.example1 a {
		display: none;
	}
	.example1 .slide3 a, .example1 .slide4 a {
		width: 20%;
		height: 8.93%;
  }
	//.example1 .slide1, .example1 .slide2 {
	//	width: 82.82% !important;
	//}
	//.example1 .slide3, .example1 .slide4 {
	//	width: auto !important;
	//}
	.example1Prev,
	.example1Next,
	.example2Prev,
	.example2Next,
	.example3Prev,
	.example3Next {
		width: 7vw;
		height: 7vw;
	}
	.example1Next,
	.example2Next,
	.example3Next {
		right: -2%;
	}
	.example1Prev,
	.example2Prev,
	.example3Prev {
		left: -2%;
	}
	//was wir machen

	//kontakt
	.kontakt h1 {
		font-size: 6.4vw;
		line-height: 8.8vw;
		position: absolute;
		top: 7.5%;
	}
	//kontakt

	//fishes
	.fish_1,
	.fish_2,
	.fish_3,
	.fish_4,
	.fish_5,
	.fish_6 {
		width: 100px;
		height: 50px;
	}
	.fish1,
	.fish2,
	.fish3,
	.fish4,
	.fish5,
	.fish6 {
		transform: scale(0.5);
	}

	//fish 1
	.fish_1 {
		top: 10%;
		right: 10%;
		animation-name: fish_1_animate_mob;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_1_animate_mob {
		0% {
			transform: translate(1400%, 0);
		}
		100% {
			transform: translate(-400%, 0);
		}
	}

	//fish 2
	.fish_2 {
		right: -8%;
		animation-name: fish_2_animate_mob;
		animation-duration: 15s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_2_animate_mob {
		0% {
			transform: translate(1400%, 0);
		}
		100% {
			transform: translate(-500%, 0);
		}
	}

	//fish 3
	.fish_3 {
		left: -5%;
		top: 35%;
		animation-name: fish_3_animate_mob;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_3_animate_mob {
		0% {
			transform: translate(-200%, 0);
		}
		100% {
			transform: translate(1800%, 0);
		}
	}

	//fish 4
	.fish_4 {
		left: -5%;
		top: 50%;
		animation-name: fish_4_animate_mob;
		animation-duration: 15s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_4_animate_mob {
		0% {
			transform: translate(-200%, 0);
		}
		100% {
			transform: translate(1800%, 0);
		}
	}

	//fish 5
	.fish_5 {
		left: -5%;
		top: 65%;
		animation-name: fish_5_animate_mob;
		animation-duration: 10s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_5_animate_mob {
		0% {
			transform: translate(-200%, 0);
		}
		100% {
			transform: translate(1800%, 0);
		}
	}

	//fish 6
	.fish_6 {
		left: -5%;
		top: 80%;
		animation-name: fish_6_animate_mob;
		animation-duration: 15s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_6_animate_mob {
		0% {
			transform: translate(-200%, 0);
		}
		100% {
			transform: translate(1800%, 0);
		}
	}
	//fishes

	//crab
	.crabWrap {
		display: none !important;
	}
	.crab {
		display: none !important;
	}
	//crab
}

@media screen and (max-height: 500px) {
	.swiper-main .swiper-pagination-bullet {
		height: 23%;
	}
}
//mobile

//2k
@media screen and (min-width: 1921px) {
	//fishes
	//fish 1
	.fish_1 {
		animation-name: fish_1_animate_2k;
		animation-duration: 60s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_1_animate_2k {
		0% {
			transform: translate(3300%, 0);
		}
		100% {
			transform: translate(-1500%, 0);
		}
	}

	//fish 2
	.fish_2 {
		animation-name: fish_2_animate_2k;
		animation-duration: 65s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_2_animate_2k {
		0% {
			transform: translate(3300%, 0);
		}
		100% {
			transform: translate(-1500%, 0);
		}
	}

	//fish 3
	.fish_3 {
		animation-name: fish_3_animate_2k;
		animation-duration: 60s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_3_animate_2k {
		0% {
			transform: translate(-200%, 0);
		}
		100% {
			transform: translate(5500%, 0);
		}
	}

	//fish 4
	.fish_4 {
		animation-name: fish_4_animate_2k;
		animation-duration: 65s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_4_animate_2k {
		0% {
			transform: translate(-200%, 0);
		}
		100% {
			transform: translate(5500%, 0);
		}
	}

	//fish 5
	.fish_5 {
		animation-name: fish_5_animate_2k;
		animation-duration: 60s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_5_animate_2k {
		0% {
			transform: translate(-200%, 0);
		}
		100% {
			transform: translate(5500%, 0);
		}
	}

	//fish 6
	.fish_6 {
		animation-name: fish_6_animate_2k;
		animation-duration: 65s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_6_animate_2k {
		0% {
			transform: translate(-300%, 0);
		}
		100% {
			transform: translate(5500%, 0);
		}
	}
	//fishes
}
//2k

//4k
@media screen and (min-width: 2561px) {
	//fishes
	.fish1,
	.fish2,
	.fish3,
	.fish4,
	.fish5,
	.fish6 {
		transform: scale(1.5);
	}

	//fish 1
	.fish_1 {
		animation-name: fish_1_animate_2k;
		animation-duration: 50s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_1_animate_2k {
		0% {
			transform: translate(6000%, 0);
		}
		100% {
			transform: translate(-2000%, 0);
		}
	}

	//fish 2
	.fish_2 {
		animation-name: fish_2_animate_2k;
		animation-duration: 55s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_2_animate_2k {
		0% {
			transform: translate(6000%, 0);
		}
		100% {
			transform: translate(-2000%, 0);
		}
	}

	//fish 3
	.fish_3 {
		animation-name: fish_3_animate_2k;
		animation-duration: 50s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_3_animate_2k {
		0% {
			transform: translate(-300%, 0);
		}
		100% {
			transform: translate(8000%, 0);
		}
	}

	//fish 4
	.fish_4 {
		animation-name: fish_4_animate_2k;
		animation-duration: 55s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_4_animate_2k {
		0% {
			transform: translate(-300%, 0);
		}
		100% {
			transform: translate(8000%, 0);
		}
	}

	//fish 5
	.fish_5 {
		animation-name: fish_5_animate_2k;
		animation-duration: 50s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_5_animate_2k {
		0% {
			transform: translate(-300%, 0);
		}
		100% {
			transform: translate(8000%, 0);
		}
	}

	//fish 6
	.fish_6 {
		animation-name: fish_6_animate_2k;
		animation-duration: 55s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	@keyframes fish_6_animate_2k {
		0% {
			transform: translate(-400%, 0);
		}
		100% {
			transform: translate(8000%, 0);
		}
	}
	//fishes
}

//4k

//crab
.crabWrap {
	width: 150px;
	height: 150px;
	position: absolute;
	z-index: 0;
	z-index: 1000;
	bottom: 8%;
	right: 4%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.crab {
	position: absolute;
	right: auto;
	bottom: auto;
	//z-index: 1000;
	transform: scale(0.13);
	filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.5));
}

.claw1Anim {
	transform: rotate(-20deg);
}
.claw1Anim_2 {
	transform: translate(40px, 20px);
}
.claw2Anim {
	transform: rotate(20deg);
}
.claw2Anim_2 {
	transform: translate(-30px, 40px)
}
//crab