* {
	margin: 0;
	padding: 0;
	border: 0;
}

canvas {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	overflow-x: auto;
	overflow-y: hidden;
	background-color: black;
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	font-style: normal;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.guide {
	position: absolute;
	z-index: 100;
	top: 0;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//visibility: hidden;
}
.camera, .gyro {
	width: 90%;
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.icon {
	width: 25vw;
	height: 25vw;
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
}
.camera .icon {
	background-image: url(../img/icon1.png);
}
.gyro .icon {
	background-image: url(../img/icon2.png);
}

#jeeFaceFilterCanvas {
	z-index: 10;
	position: absolute;
	max-height: 128px;
	max-width: 128px;
	right: 0px;
	top: 0px;
	transform: rotateY(180deg);
	display: none;
}