body,
html {
	width: 100vw;
	height: 100vh;
	background-image: url("../img/bg.png");
	background-size: 100% 100%;
	color: #ffffff;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
}

p {
	margin: 0;
	white-space: nowrap;
}

.header-wrap {
	position: relataive;
	z-index: 0;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.logo-1 {
	width: 40.31vw;
	height: 7.29vh;
	margin: 2.19vw 0 0 2.19vw;
}

.ribbon {
	width: 23.44vw;
	height: 23.44vw;
}

.headline-wrap {
	position: relative;
	z-index: 1;
	top: -6vh;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.headline-wrap img {
	width: 58.75vw;
	height: 17.29vh;
}

.video-wrap {
	position: relative;
	z-index: 2;
	top: -5vh;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.video-wrap video {
	width: 71.80vw;
	height: 27.08vh;
}

#play-button {
	width: 8.75vw;
	height: 8.75vw;
	background-image: url("../img/play.png");
	background-size: 8.75vw 8.75vw;
	position: relative;
	z-index: 3;
	top: -20vh;
	opacity: 0;
}

.deko-wrap {
	width: 100vw;
	height: auto;
	position: relative;
	z-index: 4;
	top: -51vh;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.deko-wrap img {
	width: 100vw;
	height: 50.84vh;
}

.slider-wrap {
	width: 100%;
	height: 29vh;
	position: relative;
	z-index: 5;
	top: -57vh;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.slider-wrap li {
	width: 3.5vw;
	height: 3.5vw;
	list-style: none;
}

.pre {
	background-image: url("../img/arrow_1.png");
	background-size: cover;
	margin-bottom: 11vw;
}

.next {
	background-image: url("../img/arrow_2.png");
	background-size: cover;
	margin-bottom: 11vw;
}

.slider {
	width: 84.38vw;
}

.slide {
	width: 100%;
	height: 28.13vh;
	font-family: "CeraPro Bold";
	font-size: 3.44vw;
	text-align: center;
}

.slide img {
	width: 84.38vw;
	height: 23vh;
}

.slide p {
	padding-top: 2vh;
}

.last-p p {
	padding-top: 0;
}

.footer {
	width: auto;
	height: 11.47vh;
	margin: 0 2.19vw 2.19vw 2.19vw;
	position: relative;
	z-index: 6;
	top: -56vh;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.footer img {
	width: 10.94vw;
	height: 10.94vw;
}

.button-copy {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.button-copy button {
	width: 37.5vw;
	height: 6.25vh;
	background-color: #009bd7;
	color: #ffffff;
	border: none;
	font-family: "CeraPro Bold";
	font-size: 4vw;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
}

.footer .button-copy p {
	font-family: "CeraPro Light";
	font-size: 1.88vw;
	padding-top: 0.82vh;
}

.footer p {
	font-family: "CeraPro Regular";
	font-size: 3.75vw;
}

@media screen and (min-height: 500px) {
	.footer {
		margin-top: 5vh;
	}
}

@media screen and (min-height: 800px) {
	.footer {
		margin-top: 8vh;
	}

	.deko-wrap {
		top: -48vh;
	}

	.headline-wrap {
		top: -4vh;
	}
}