@font-face {
	font-family: "Open Sans Bold";
	src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "Open Sans Light";
	src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Open Sans Regular";
	src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf");
}

html,
body {
	font-family: "Open Sans";
	background-color: #1A1A1A;
	text-decoration: none;
	width: 100vw;
	height: 100vh;
	margin: 0;
	border: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}