@font-face {
	font-family: "Open Sans Bold";
	src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "Open Sans Light";
	src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Open Sans Regular";
	src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf");
}

html,
body {
	font-family: "Open Sans";
	background-color: #1A1A1A;
	width: 100vw;
	height: 100vh;
	margin: 0;
	border: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

a {
	text-decoration: none;
}

header {
	height: 1080px;
	background-image: url('../img/header.png');
	background-size: cover;
	background-color: #252525;
	display: flex;
	justify-content: space-between;
}

.header-top {
	width: 100vw;
	height: 91px;
	font-family: 'Open Sans Bold';
	font-size: 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10% 0 10%;
}

ul {
	width: 50%;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

ul a {
	color: white;
}