@font-face {
	font-family: 'Open Sans Bold';
	src: local('Open Sans Bold'), url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'Open Sans Light';
	src: local('Open Sans Light'), url('../fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'Open Sans Regular';
	src: local('Open Sans Regular'), url('../fonts/OpenSans-Regular.ttf');
}

$background: #1a1a1a;
$placeholder: #252525;
$text: #a6a6a6;
$title: #ffffff;
$green: #34c759;

@mixin flexible($switch: 0) {
	display: flex;
	align-items: center;
	text-align: center;
	@if $switch==0 {
		justify-content: space-between;
	}
	@else {
		justify-content: space-around;
	}
}

html,
body {
	font-family: 'Open Sans Regular';
	color: $title;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	overflow-x: hidden;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	background: url('../img/header-line.png') no-repeat $background;
	background-size: 100vw 1080px;
}

.contents {
	width: 58.329%;
	height: 5635px;
}

a {
	text-decoration: none;
}

p {
	color: $text;
}

header {
	@include flexible();
	flex-direction: column;
	height: 679px;
	width: 100%;
	p {
		font-size: 16px;
	}
}

.header-top {
	@include flexible();
	height: 90px;
	width: 100%;
	font-family: 'Open Sans Bold';
	font-size: 14px;
}

.logo {
	width: 207px;
	margin-left: 10%;
}

ul {
	@include flexible();
	list-style: none;
	width: 400px;
	margin-right: 10%;
	a {
		color: $title;
	}
}

.header-text {
	height: 231px;
	h1 {
		font-family: 'Open Sans Light';
		font-size: 72px;
		font-weight: 300;
		letter-spacing: 0.1em;
		margin: 0;
		strong {
			font-family: 'Open Sans Bold';
		}
	}
	p {
		font-family: 'Open Sans Light';
		margin: 0;
	}
}

button {
	height: 72px;
	width: 220px;
	font-family: 'Open Sans Bold';
	font-size: 18px;
	letter-spacing: 0.2em;
	color: $background;
	background: $green;
	border-radius: 43px;
	border: none;
}

.header-contacts {
	@include flexible();
	flex-direction: row;
	height: 95px;
	width: 60%;
	font-family: 'Open Sans Bold';
	p {
		color: $title;
	}
}

.about {
	@include flexible($switch: 1);
	flex-direction: column;
	background: $placeholder;
	margin-top: 160px;
	border-radius: 6px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	img {
		padding-top: 50px;
	}
}

.about-content {
	height: 420px;
}

.carousel {
	@include flexible();
	img {
		padding: 0 20px 90px 0;
	}
}

.work {
	// border: 1px solid red;
	@include flexible();
	flex-direction: column;
	height: 510px;
}

hr {
	height: 2px;
	width: 60px;
	border: none;
	background: $green;
	margin: 0;
}

.work-content {
	height: 206px;
	width: 100%;
	margin-bottom: 30px;
	@include flexible();
	flex-direction: row;
	div {
		height: 195px;
		width: 230px;
		text-align: left;
		background: $placeholder;
		border-radius: 6px;
		padding-left: 25px;
		p {
			margin-right: 25px;
		}
	}

	.work-content-green {
		color: black;
		background: $green;
		p {
			color: black;
		}
		hr {
			background: black;
		}
	}
}

.dishes {
	// border: 1px solid red;
	height: 1286px;
	@include flexible();
	flex-direction: column;
}

.dishes-content {
	@include flexible();
	flex-wrap: wrap;
	.dishes-content-box {
		height: 493px;
		width: 350px;
		background: $placeholder;
		margin-top: 30px;
		text-align: left;
		h3 {
			padding: 0 8.5714% 0 8.5714%;
		}
		p {
			padding: 0 8.5714% 0 8.5714%;
		}
	}
}

.chefs {
	border: 1px solid red;
	height: 402px;
	@include flexible();
	flex-direction: column;
	.chefs-content {
		@include flexible();
		width: 100%;
		div {
			height: 155px;
			width: 350px;
			background: $placeholder;
		}
	}
}