@font-face {
	font-family: "Open Sans Bold";
	src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "Open Sans Light";
	src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Open Sans Regular";
	src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf");
}

$background: #1A1A1A;
$placeholder: #252525;
$p-color: #A6A6A6;

@mixin flexible($switch: 0) {
	display: flex;
	align-items: center;
	text-align: center;
	@if $switch == 0 {
		justify-content: space-between;
	} @else {
		justify-content: space-around;
	}
}

html,
body {
	background-color: $background;
	font-family: "Open Sans Regular";
	color: white;
	width: 100vw;
	height: 2000px;
	margin: 0;
	border: 0;
	padding: 0;
	overflow-x: hidden;
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

a {
	text-decoration: none;
}

header {
	height: 1080px;
	width: 100vw;
	background-color: $placeholder;
	background-image: url("../img/header.png");
	background-size: 100vw 1080px;
	z-index: 1;
}

.header-content {
	@include flexible();
	flex-direction: column;
	height: 679px;
	p {
		font-size: 16px;
	}
}

.header-top {
	@include flexible();
	height: 91px;
	width: 100vw;
	font-family: "Open Sans Bold";
	font-size: 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
	padding-left: 10%;
}

ul {
	@include flexible();
	width: 50%;
	list-style: none;
	padding-right: 10%;
	a {
		color: white;
	}
}

.header-text {
	height: 231px;
	h1 {
		font-family: "Open Sans Light";
		font-size: 72px;
		font-weight: 300;
		letter-spacing: 0.1em;
		margin: 0;
		strong {
			font-family: "Open Sans Bold";
		}
	}
	p {
		font-family: "Open Sans Light";
		margin: 0;
		opacity: 0.7;
	}
}

button {
	height: 72px;
	width: 220px;
	font-family: "Open Sans Bold";
	font-size: 18px;
	letter-spacing: 0.2em;
	color: $background;
	background: #34c759;
	border-radius: 43px;
	border: none;
}

.header-contacts {
	@include flexible();
	flex-direction: row;
	height: 95px;
	width: 60%;
	font-family: "Open Sans Bold";
}

.about {
	@include flexible($switch: 1);
	flex-direction: column;
	height: 736px;
	margin: 0 10% 0 10%;
	z-index: 2;
	margin-top: 160px;
	img {
		padding-top: 60px;
	}
}

.about-content {
	height: 420px;
	p {
		color: $p-color;
	}
}

.carousel {
	@include flexible();
	img {
		margin: 20px;
	}
}