@font-face {
  font-family: 'Open Sans Bold';
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: 'Open Sans Light';
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'Open Sans Regular';
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf");
}

html,
body {
  background-color: #1a1a1a;
  font-family: 'Open Sans Regular';
  color: #ffffff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  background-image: url("../img/header-line.png");
  background-size: 100vw 1080px;
  background-repeat: no-repeat;
}

.contents {
  width: 58.329%;
  height: 5635px;
}

a {
  text-decoration: none;
}

p {
  color: #a6a6a6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 679px;
  width: 100%;
}

header p {
  font-size: 16px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  width: 100%;
  font-family: 'Open Sans Bold';
  font-size: 14px;
}

.logo {
  width: 207px;
  margin-left: 10%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 400px;
  margin-right: 10%;
}

ul a {
  color: #ffffff;
}

.header-text {
  height: 231px;
}

.header-text h1 {
  font-family: 'Open Sans Light';
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
}

.header-text h1 strong {
  font-family: 'Open Sans Bold';
}

.header-text p {
  font-family: 'Open Sans Light';
  margin: 0;
}

button {
  height: 72px;
  width: 220px;
  font-family: 'Open Sans Bold';
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #1a1a1a;
  background: #34c759;
  border-radius: 43px;
  border: none;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 95px;
  width: 60%;
  font-family: 'Open Sans Bold';
}

.header-contacts p {
  color: #ffffff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252525;
  margin-top: 160px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.about img {
  padding-top: 50px;
}

.about-content {
  height: 420px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel img {
  padding: 0 20px 90px 0;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 510px;
}

hr {
  height: 2px;
  width: 60px;
  border: none;
  background: #34c759;
  margin: 0;
}

.work-content {
  height: 206px;
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.work-content div {
  height: 195px;
  width: 230px;
  text-align: left;
  background: #252525;
  border-radius: 6px;
  padding-left: 25px;
}

.work-content div p {
  margin-right: 25px;
}

.work-content .work-content-green {
  color: black;
  background: #34c759;
}

.work-content .work-content-green p {
  color: black;
}

.work-content .work-content-green hr {
  background: black;
}

.dishes {
  border: 1px solid red;
  height: 1286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dishes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dishes-content .dishes-content-box {
  height: 493px;
  width: 350px;
  background: #252525;
  margin-top: 30px;
  text-align: left;
}

.dishes-content .dishes-content-box h3 {
  padding: 0 8.5714% 0 8.5714%;
}

.dishes-content .dishes-content-box p {
  padding: 0 8.5714% 0 8.5714%;
}
/*# sourceMappingURL=style.css.map */