@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"), url("../fonts/OpenSans-Regular.ttf");
}

html,
body {
  background-color: #1a1a1a;
  font-family: "Open Sans Regular";
  color: white;
  width: 100%;
  height: 3000px;
  margin: 0;
  border: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

a {
  text-decoration: none;
}

header {
  height: 1576px;
  width: 100%;
}

.header-background {
  height: 1080px;
  width: 100%;
  background-image: url("../img/header.png");
  background-size: 100vw 1080px;
  background-color: #252525;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 679px;
  width: 100%;
}

.header-content p {
  font-size: 16px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
  width: 100%;
  font-family: "Open Sans Bold";
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  width: 207px;
  margin-left: 10%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 400px;
  margin-right: 10%;
}

ul a {
  color: white;
}

.header-text {
  height: 231px;
}

.header-text h1 {
  font-family: "Open Sans Light";
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
}

.header-text h1 strong {
  font-family: "Open Sans Bold";
}

.header-text p {
  font-family: "Open Sans Light";
  margin: 0;
  opacity: 0.7;
}

button {
  height: 72px;
  width: 220px;
  font-family: "Open Sans Bold";
  font-size: 18px;
  letter-spacing: 0.2em;
  color: #1a1a1a;
  background: #34c759;
  border-radius: 43px;
  border: none;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 95px;
  width: 60%;
  font-family: "Open Sans Bold";
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252525;
  height: 736px;
  position: relative;
  top: -240px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.about img {
  padding-top: 50px;
}

.about-content {
  height: 420px;
}

.about-content p {
  color: #a6a6a6;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel img {
  padding: 0 20px 90px 0;
}

.work {
  border: solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 476px;
  background-color: #252525;
}
/*# sourceMappingURL=style.css.map */